@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 248, 248;
  --background-end-rgb: 248, 248, 248;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 43, 57, 69;
  --background-end-rgb: 43, 57, 69;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Nunito Sans', sans-serif;
}

@layer components {
  .container-custom {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
  }
}
